services:
  backend:
    container_name: pert_backend
    build:
      context: ./Backend
      dockerfile: Dockerfile
    ports:
      - "5000:5000"
    restart: unless-stopped
    env_file:
      - ./backend/.env
    networks:
      - appnet
  frontend:
    container_name: pert_frontend
    build:
      context: ./Frontend
      args:
        VITE_API_BASE_URL: http://localhost:5000
      dockerfile: Dockerfile
    ports:
      - "3000:80"
    depends_on:
      - backend
    restart: unless-stopped
    networks:
      - appnet

networks:
  appnet:
    driver: bridge

volumes:
  ollama_data:
